
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
    color: #4C7689;
    font-family: Arial,sans-serif;
    font-size: 12px;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
.front #page {
    background:#FFFFFF url("../images/header_bg.png") repeat-x top !important;
}


#page {
    background:url('../images/header_bg.png') repeat-x center -342px  #fff !important;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.front #header {
height: 450px ;

}#header {
height: 108px ;
    overflow: hidden ;
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #fff;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
